<div class="services-area pt-100 bg-1a1e42">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">SERVICES AREA</span>
            <h2>Caring for the whole patient, not just your symptoms</h2>
        </div>
        <div class="services-slides">
            <owl-carousel-o [options]="servicesSlides">
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services1.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-cosmetic-surgery"></i>
                            </div>
                            <h3><a routerLink="/services-details">Plastic Surgery</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services2.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-fracture"></i>
                            </div>
                            <h3><a routerLink="/services-details">Orthopedic</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services3.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-cosmetic-surgery"></i>
                            </div>
                            <h3><a routerLink="/services-details">Neurology</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services4.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-scalpel"></i>
                            </div>
                            <h3><a routerLink="/services-details">Dermatology</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services5.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-heartbeat"></i>
                            </div>
                            <h3><a routerLink="/services-details">Cardiology</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
</div>