<div class="services-area pt-100 bg-1a1e42">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">SERVICES AREA</span>
            <h2>Caring for the whole patient, not just your symptoms</h2>
        </div>
        <div class="services-slides">
            <owl-carousel-o [options]="servicesSlides">
                <ng-template carouselSlide  *ngFor="let item of ourServicesModel">
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="{{path}}/WebImages/Announcements/{{item.image}}" alt="blog-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-cosmetic-surgery"></i>
                            </div>
                            <h3><a routerLink="/services-details">{{item.title}}</a></h3>
                            <p [innerHTML]="item.detail"></p>
                            <a routerLink="/services-details/{{item.id}}" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
            
            </owl-carousel-o>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
</div>