<div class="thank-you-area ptb-100">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="thank-you-content">
                    <img src="assets/img/thank-you.png" alt="thank-you">
                    <h3>Thank You!</h3>
                    <p>Check your inbox for the order details!</p>
                    <a routerLink="/" class="default-btn">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>