<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Services
                </li>
                <li>
                    Dermatology
                </li>
            </ul>
            <h1>Dermatology</h1>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape5.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>

<!-- Services Details Area -->
<div class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="services-details-desc">
                    <div class="image">
                        <img src="assets/img/services/services4.jpg" alt="services-image">
                    </div>
                    <div class="desc">
                        <h4>Dermatology is the branch of medicine dealing with the skin</h4>
                        <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a routerLink="/">commodo</a> consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.</p>
                        <ol>
                            <li>Nunc, mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam in</li>
                            <li>Web design and development very creative to do something , mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh  venenatis, amet to all design and development</li>
                        </ol>
                        <h4>Our Core Values</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single-featured-box">
                                    <div class="icon">
                                        <i class="flaticon-employees"></i>
                                    </div>
                                    <h3>Professional Staff</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single-featured-box">
                                    <div class="icon">
                                        <i class="flaticon-solidarity"></i>
                                    </div>
                                    <h3>Quality of Care Services</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                </div>
                            </div>
                        </div>
                        <h4>We are giving you a good plan</h4>
                        <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
                        <ul class="pricing">
                            <li class="d-flex align-items-center">
                                Follow-up visits
                                <span>$10</span>
                            </li>
                            <li class="d-flex align-items-center">
                                New patients
                                <span>$12</span>
                            </li>
                            <li class="d-flex align-items-center">
                                Multiple skin concerns
                                <span>$15</span>
                            </li>
                            <li class="d-flex align-items-center">
                                Detailed discussions
                                <span>$11</span>
                            </li>
                            <li class="d-flex align-items-center">
                                Extensive rash
                                <span>$18</span>
                            </li>
                            <li class="d-flex align-items-center">
                                Full body skin exam
                                <span>$21</span>
                            </li>
                        </ul>
                        <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
                        <ul class="wp-block-gallery row">
                            <li class="blocks-gallery-item col-lg-6 col-md-6">
                                <figure>
                                    <img src="assets/img/services/services1.jpg" alt="image">
                                </figure>
                            </li>
                            <li class="blocks-gallery-item col-lg-6 col-md-6">
                                <figure>
                                    <img src="assets/img/services/services3.jpg" alt="image">
                                </figure>
                            </li>
                        </ul>
                        <h4>Professional medical service</h4>
                        <p>But the majority have suffered <a routerLink="/">alteration</a> in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                        <ul class="expertise">
                            <li>Scientific skills for getting a better result</li>
                            <li>Communication skills to getting in touch</li>
                            <li>A career overview opportunity available</li>
                        </ul>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered <a routerLink="/">alteration</a> in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                    <div class="meet-our-doctors">
                        <h4>Meet our doctors</h4>
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-doctor-box">
                                    <div class="image">
                                        <img src="assets/img/doctors/doctor1.jpg" alt="doctor-image">
                                        <div class="icon">
                                            <i class="flaticon-fracture"></i>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h3><a routerLink="/doctor-profile">Dr. Alina Smith</a></h3>
                                        <span class="designation">PSYCHIATRISTS</span>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <ul class="social">
                                                <li>
                                                    <a href="https://facebook.com/" target="_blank">
                                                        <i class="flaticon-facebook-app-symbol"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/" target="_blank">
                                                        <i class="flaticon-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://twitter.com/" target="_blank">
                                                        <i class="flaticon-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.instagram.com/" target="_blank">
                                                        <i class="flaticon-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-doctor-box">
                                    <div class="image">
                                        <img src="assets/img/doctors/doctor2.jpg" alt="doctor-image">
                                        <div class="icon">
                                            <i class="flaticon-x-ray"></i>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h3><a routerLink="/doctor-profile">Dr. James Anderson</a></h3>
                                        <span class="designation">ANESTHESIOLOGISTS</span>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <ul class="social">
                                                <li>
                                                    <a href="https://facebook.com/" target="_blank">
                                                        <i class="flaticon-facebook-app-symbol"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/" target="_blank">
                                                        <i class="flaticon-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://twitter.com/" target="_blank">
                                                        <i class="flaticon-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.instagram.com/" target="_blank">
                                                        <i class="flaticon-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-accordion">
                        <div class="box">
                            <h4>Frequently asked questions</h4>
                            <div class="accordion">
                                <div class="accordion-section">
                                    <div class="accordion-header" (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }">
                                        Do I have to be a student to take an online course?
                                    </div>
                                    <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(0) }">
                                        <p><strong>Mevic</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Mevic</strong>, a company who values you and your family, visit our careers page.</p>
                                        <ul>
                                            <li>a console</li>
                                            <li>Two Joy-Con controllers that are detachable</li>
                                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                            <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="accordion-section">
                                    <div class="accordion-header" (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }">
                                        How old do I have to be to take an online class?
                                    </div>
                                    <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(1) }">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                                        <ul>
                                            <li>a console</li>
                                            <li>Two Joy-Con controllers that are <a routerLink="/">detachable</a></li>
                                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                            <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="accordion-section">
                                    <div class="accordion-header" (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }">
                                        What if I change my mind and want to drop my class?
                                    </div>
                                    <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(2) }">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                                        <p>Tunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                                    </div>
                                </div>
                                <div class="accordion-section">
                                    <div class="accordion-header" (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }">
                                        What are the technical requirements for an online course?
                                    </div>
                                    <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(3) }">
                                        <ul>
                                            <li>a console</li>
                                            <li>Two Joy-Con controllers that are detachable</li>
                                            <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                            <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                            <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="accordion-section">
                                    <div class="accordion-header" (click)="toggleSection(4)" [ngClass]="{ 'open': isSectionOpen(4) }">
                                        May I take a class as non-credit and pay a reduced tuition?
                                    </div>
                                    <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(4) }">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="services-sidebar">
                    <ul class="services-list">
                        <li>
                            <a routerLink="/services-details" class="link-btn"></a>
                            <div class="icon">
                                <i class="flaticon-cosmetic-surgery"></i>
                            </div>
                            Plastic Surgery
                            <p>Give us a chance to prove that we care professional medical.</p>
                        </li>
                        <li>
                            <a routerLink="/services-details" class="link-btn"></a>
                            <div class="icon">
                                <i class="flaticon-fracture"></i>
                            </div>
                            Orthopedic
                            <p>Give us a chance to prove that we care professional medical.</p>
                        </li>
                        <li class="active">
                            <a routerLink="/services-details" class="link-btn"></a>
                            <div class="icon">
                                <i class="flaticon-scalpel"></i>
                            </div>
                            Dermatology
                            <p>Give us a chance to prove that we care professional medical.</p>
                        </li>
                        <li>
                            <a routerLink="/services-details" class="link-btn"></a>
                            <div class="icon">
                                <i class="flaticon-kidneys"></i>
                            </div>
                            Neurology
                            <p>Give us a chance to prove that we care professional medical.</p>
                        </li>
                        <li>
                            <a routerLink="/services-details" class="link-btn"></a>
                            <div class="icon">
                                <i class="flaticon-heartbeat"></i>
                            </div>
                            Cardiology
                            <p>Give us a chance to prove that we care professional medical.</p>
                        </li>
                        <li>
                            <a routerLink="/services-details" class="link-btn"></a>
                            <div class="icon">
                                <i class="flaticon-kidneys"></i>
                            </div>
                            Urology
                            <p>Give us a chance to prove that we care professional medical.</p>
                        </li>
                        <li>
                            <a routerLink="/services-details" class="link-btn"></a>
                            <div class="icon">
                                <i class="flaticon-tooth"></i>
                            </div>
                            Dentistry
                            <p>Give us a chance to prove that we care professional medical.</p>
                        </li>
                    </ul>
                    <div class="download-files">
                        <h3>Download</h3>
                        <ul>
                            <li><a href="javascript:void(0)">Our Brochure Pdf <i class="ph-file-pdf"></i></a></li>
                            <li><a href="javascript:void(0)">Our Iso Certificate <i class="ph-file-arrow-down"></i></a></li>
                            <li><a href="javascript:void(0)">Great Technology <i class="ph-file-arrow-down"></i></a></li>
                        </ul>
                    </div>
                    <div class="quote-info-box">
                        <div class="info-item">
                            <div class="rating">
                                <i class="flaticon-star-2"></i>
                                <i class="flaticon-star-2"></i>
                                <i class="flaticon-star-2"></i>
                                <i class="flaticon-star-2"></i>
                                <i class="flaticon-star-2"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ut arcu a dignissim suscipit non ac eget tellus in nisl mauris nec</p>
                        </div>
                        <div class="info d-flex align-items-center">
                            <img src="assets/img/user/user1.jpg" alt="user">
                            <div class="title">
                                <h3>Kathrym Cooper</h3>
                                <span>CEO & Founder</span>
                            </div>
                        </div>
                    </div>
                    <div class="opening-hours-info">
                        <h3>Working Hours</h3>
                        <p>Have an emergency? Book your visit.</p>
                        <ul class="opening-hours">
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Saturday - Sunday</span>
                                    <span>08:00AM - 04:00PM</span>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Monday</span>
                                    <span>08:00AM - 04:00PM</span>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Tuesday</span>
                                    <span>08:00AM - 04:00PM</span>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Wednesday</span>
                                    <span>08:00AM - 04:00PM</span>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Thursday - Friday</span>
                                    <span>08:00AM - 04:00PM</span>
                                </div>
                            </li>
                        </ul>
                        <div class="box">
                            <h6>Emergency Support</h6>
                            <a href="tel:+1-485-456-0102" class="d-flex align-items-center">
                                <i class="flaticon-call"></i>
                                +1-485-456-0102
                            </a>
                        </div>
                        <div class="box">
                            <h6>Book an Appointment</h6>
                            <a routerLink="/book-appointment" class="d-flex align-items-center">
                                <i class="flaticon-calendar"></i>
                                Book Here
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>