<!-- Default Doctors Section -->
<div
    class="doctors-area pt-100 pb-75 bg-1a1e42"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR EXPERTS</span>
            <h2>Meet our experienced doctors for best treatment</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="single-doctor-big-box">
                    <div class="row align-items-center m-0">
                        <div class="col-lg-5 col-md-5 p-0">
                            <div class="image">
                                <img src="assets/img/doctors/doctor4.jpg" alt="doctor-image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 p-0">
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Alex Maxwell</a></h3>
                                <span class="designation">GASTROENTEROLOGISTS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank">
                                                <i class="flaticon-facebook-app-symbol"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="flaticon-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/" target="_blank">
                                                <i class="flaticon-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank">
                                                <i class="flaticon-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor1.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-fracture"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. Alina Smith</a></h3>
                        <span class="designation">PSYCHIATRISTS</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor2.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-x-ray"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. James Anderson</a></h3>
                        <span class="designation">ANESTHESIOLOGISTS</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor3.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-ct-scan"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. Meg Lanning</a></h3>
                        <span class="designation">DERMATOLOGISTS</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
</div>

<!-- Doctors Section For Home Demo - 3 -->
<div
    class="doctors-area style-two pt-100 pb-75 bg-1a1e42 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR EXPERTS</span>
            <h2>Meet our experienced doctors for best treatment</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor1.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-fracture"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. Alina Smith</a></h3>
                        <span class="designation">PSYCHIATRISTS</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor2.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-x-ray"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. James Anderson</a></h3>
                        <span class="designation">ANESTHESIOLOGISTS</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor3.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-ct-scan"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. Meg Lanning</a></h3>
                        <span class="designation">DERMATOLOGISTS</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
</div>