<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Doctors
                </li>
            </ul>
            <h1>Our Doctors</h1>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape5.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>

<!-- Doctors Area -->
<div class="doctors-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="filter-sidebar">
                    <div class="sidebar-title">
                        <h3>FILTERS</h3>
                        <span>RESET</span>
                    </div>
                    <div class="accordion">
                        <div class="accordion-item">
                            <button class="accordion-button" type="button">
                                SPECIALITY
                            </button>
                            <div class="accordion-body">
                                <ul>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="addiction-medicine">
                                            <label class="form-check-label" for="addiction-medicine">
                                                Addiction Medicine
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="addiction-psychiatry">
                                            <label class="form-check-label" for="addiction-psychiatry">
                                                Addiction Psychiatry
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="adolescent-medicine">
                                            <label class="form-check-label" for="adolescent-medicine">
                                                Adolescent Medicine
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="allergy-immunology">
                                            <label class="form-check-label" for="allergy-immunology">
                                                Allergy & Immunology
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="cardiac-electrophysiology">
                                            <label class="form-check-label" for="cardiac-electrophysiology">
                                                Cardiac Electrophysiology
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dermatologists">
                                            <label class="form-check-label" for="dermatologists">
                                                Dermatologists
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="ophthalmologists">
                                            <label class="form-check-label" for="ophthalmologists">
                                                Ophthalmologists
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="obstetrician-gynecologists">
                                            <label class="form-check-label" for="obstetrician-gynecologists">
                                                Obstetrician / Gynecologists
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="otolaryngologists">
                                            <label class="form-check-label" for="otolaryngologists">
                                                Otolaryngologists
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="radiologists">
                                            <label class="form-check-label" for="radiologists">
                                                Radiologists
                                            </label>
                                        </div>
                                    </li>
                                    <li class="speciality">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="orthopedic-surgeons">
                                            <label class="form-check-label" for="orthopedic-surgeons">
                                                Orthopedic Surgeons
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-button" type="button">
                                REASON FOR VISIT
                            </button>
                            <div class="accordion-body">
                                <ul>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="allergy">
                                            <label class="form-check-label" for="allergy">
                                                Allergy
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="angioplasty-stent-placement">
                                            <label class="form-check-label" for="angioplasty-stent-placement">
                                                Angioplasty & Stent Placement
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="arrhythmias">
                                            <label class="form-check-label" for="arrhythmias">
                                                Arrhythmias
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="arthroscopic-surgery">
                                            <label class="form-check-label" for="arthroscopic-surgery">
                                                Arthroscopic Surgery
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="brain-tumors">
                                            <label class="form-check-label" for="brain-tumors">
                                                Brain Tumors
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="mental-disorders">
                                            <label class="form-check-label" for="mental-disorders">
                                                Mental Disorders
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="injury-poison">
                                            <label class="form-check-label" for="injury-poison">
                                                Injury / Poison
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="endocrine">
                                            <label class="form-check-label" for="endocrine">
                                                Endocrine
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="circulatory">
                                            <label class="form-check-label" for="circulatory">
                                                Circulatory
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="respiratory">
                                            <label class="form-check-label" for="respiratory">
                                                Respiratory
                                            </label>
                                        </div>
                                    </li>
                                    <li class="reason-for-visit">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="musculoskeletal">
                                            <label class="form-check-label" for="musculoskeletal">
                                                Musculoskeletal
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-button" type="button">
                                GENDER
                            </button>
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="male">
                                            <label class="form-check-label" for="male">
                                                Male
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="female">
                                            <label class="form-check-label" for="female">
                                                Female
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor1.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-fracture"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Alina Smith</a></h3>
                                <span class="designation">CARDIOLOGISTS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor2.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-x-ray"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. James Anderson</a></h3>
                                <span class="designation">ANESTHESIOLOGISTS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor3.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-ct-scan"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Meg Lanning</a></h3>
                                <span class="designation">DERMATOLOGISTS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor5.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-cardiogram"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Aaron Luca</a></h3>
                                <span class="designation">ENDOCRINOLOGISTS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor6.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-assistance"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Jaxson Parker</a></h3>
                                <span class="designation">PHYSICIANS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor7.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-stethoscope"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Claire Hailey</a></h3>
                                <span class="designation">GASTROENTEROLOGISTS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor8.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-tooth"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Evan Bryson</a></h3>
                                <span class="designation">HEMATOLOGISTS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="single-doctor-box">
                            <div class="image">
                                <img src="assets/img/doctors/doctor9.jpg" alt="doctor-image">
                                <div class="icon">
                                    <i class="flaticon-brain-1"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a routerLink="/doctor-profile">Dr. Alexa Nicole</a></h3>
                                <span class="designation">INTERNISTS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <ul class="social">
                                        <li>
                                            <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <div class="nav-links">
                                <a routerLink="/doctors" class="prev page-numbers"><i class="ph-caret-left"></i></a>
                                <span class="page-numbers current">1</span>
                                <a routerLink="/doctors" class="page-numbers">2</a>
                                <a routerLink="/doctors" class="page-numbers">3</a>
                                <a routerLink="/doctors" class="page-numbers">4</a>
                                <a routerLink="/doctors" class="next page-numbers"><i class="ph-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>