.about-area {
    .container-fluid {
        padding: {
            left: 30px;
            right: 30px;
        };
    }
}
.about-image {
    padding-right: 15px;
    text-align: center;

    img {
        float: right;
        max-width: 108%;
    }
}
.about-content {
    margin-top: 15px;
    
    .sub-title {
        z-index: 1;
        padding: 7px 30px;
        position: relative;
        border-radius: 30px;
        margin-bottom: 15px;
        display: inline-block;
        color: var(--secondaryColor);
        font: {
            size: 14px;
            weight: 600;
        };
        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            content: '';
            opacity: .07;
            position: absolute;
            border-radius: 30px;
            background-color: var(--secondaryColor);
        }
    }
    h2 {
        margin-bottom: 15px;
        font-size: 40px;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        list-style-type: none;
        margin: {
            top: 30px;
            bottom: 5px;
            left: -10px;
            right: -10px;
        };
        li {
            flex: 0 0 auto;
            width: 50%;
            padding: {
                left: 10px;
                right: 10px;
            };
            span {
                display: block;
                position: relative;
                padding-left: 40px;
                border-radius: 7px;
                margin-bottom: 20px;
                font: {
                    size: 17px;
                    weight: 700;
                };
                &::after {
                    left: 0;
                    top: 50%;
                    z-index: -1;
                    width: 25px;
                    content: '';
                    height: 25px;
                    opacity: 0.2;
                    border-radius: 50%;
                    position: absolute;
                    transform: translateY(-50%);
                    background-color: var(--primaryColor);
                }
                i {
                    top: 0;
                    left: 10px;
                    font-size: 18px;
                    position: absolute;
                    color: var(--primaryColor);
                    transition: var(--transition);
                }
                &:hover {
                    i {
                        animation: smallbounce 2s;
                    }
                }
            }
        }
    }
    .ceo-info {
        margin-top: 25px;

        .signature {
            border-right: 1px solid #c4c4c4;
            margin-right: 40px;
            padding: {
                bottom: 10px;
                right: 40px;
                top: 10px;
            };
        }
        .info {
            img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
            }
            .title {
                margin-left: 18px;

                h4 {
                    font-size: 20px;
                    margin-bottom: 8px;
                }
                span {
                    display: block;
                    color: var(--paragraphColor);
                    font: {
                        size: 15px;
                        family: var(--headingFontFamily);
                    };
                }
            }
        }
    }
    .default-btn {
        margin-top: 30px;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .about-area {
        .col-xl-6 {
            &:nth-child(1) {
                order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
        }
    }
    .about-image {
        padding-right: 0;
        margin-top: 30px;

        img {
            max-width: 100%;
            float: unset;
        }
    }
    .about-content {
        margin-top: 0;

        .sub-title {
            padding: 5px 15px;
            font-size: 12.5px;
        }
        h2 {
            margin-bottom: 15px;
            font-size: 24px;
        }
        .list {
            margin: {
                top: 18px;
                bottom: 0;
            };
            li {
                width: 100%;

                span {
                    margin-bottom: 15px;
                    padding-left: 32px;
                    font-size: 14px;

                    &::after {
                        width: 20px;
                        height: 20px;
                    }
                    i {
                        left: 5px;
                        font-size: 15px;
                    }
                }
            }
        }
        .ceo-info {
            margin-top: 20px;
            display: block !important;

            .signature {
                border-right: none;
                margin-bottom: 20px;
                padding: {
                    top: 0;
                    right: 0;
                    bottom: 0;
                };
            }
            .info {
                img {
                    width: 70px;
                    height: 70px;
                }
                .title {
                    h4 {
                        font-size: 15px;
                        margin-bottom: 8px;
                    }
                    span {
                        font-size: 14px;
                    }
                }
            }
        }
        .default-btn {
            margin-top: 25px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .about-content {
        .list {
            li {
                width: 50%;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .about-area {
        .col-xl-6 {
            &:nth-child(1) {
                order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
        }
    }
    .about-image {
        padding-right: 0;
        margin-top: 30px;

        img {
            max-width: 100%;
            float: unset;
        }
    }
    .about-content {
        margin-top: 0;

        .sub-title {
            padding: 7px 20px;
            font-size: 13px;
        }
        h2 {
            margin-bottom: 15px;
            font-size: 32px;
        }
        .list {
            margin-top: 25px;

            li {
                span {
                    padding-left: 38px;
                    font-size: 15px;
                    
                    i {
                        top: -1px;
                        left: 10px;
                        font-size: 16px;
                    }
                }
            }
        }
        .ceo-info {
            margin-top: 20px;

            .signature {
                margin-right: 25px;
                padding-right: 25px;
            }
            .info {
                img {
                    width: 60px;
                    height: 60px;
                }
                .title {
                    h4 {
                        font-size: 16px;
                        margin-bottom: 8px;
                    }
                    span {
                        font-size: 14px;
                    }
                }
            }
        }
        .default-btn {
            margin-top: 25px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .about-area {
        .col-xl-6 {
            &:nth-child(1) {
                order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
        }
    }
    .about-content {
        margin-top: 0;

        .list {
            li {
                width: 40%;
            }
        }
        p {
            max-width: 720px;
        }
    }
    .about-image {
        padding-right: 0;
        margin-top: 25px;

        img {
            max-width: 100%;
            float: unset;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .about-area {
        &.pt-100 {
            padding-bottom: 100px;
        }
    }
    .about-image {
        margin-top: 30px;
    }
    .about-content {
        margin-top: 0;

        .list {
            li {
                span {
                    padding-left: 35px;
                    font-size: 15px;

                    &::after {
                        width: 20px;
                        height: 20px;
                    }
                    i {
                        left: 4px;
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .about-image {
        img {
            max-width: 112%;
        }
    }

}