.blog-details-desc {
    .post-thumb {
        margin-bottom: 25px;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 15px;

        &:not(:first-child) {
            margin-top: 25px;
        }
    }
    .post-meta {
        margin: {
            bottom: 15px;
            top: 18px;
        };
        ul {
            padding-left: 0;
            list-style-type: none;
            margin: {
                bottom: 0;
                top: 0;
            };
            li {
                color: var(--paragraphColor);
                display: inline-block;
                padding-left: 23px;
                position: relative;
                font: {
                    size: 15px;
                    weight: 500;
                };
                margin: {
                    right: 20px;
                    bottom: 0;
                };
                img {
                    left: 0;
                    top: 2px;
                    position: absolute;
                }
                &:first-child {
                    img {
                        top: 3px;
                    }
                }
                i {
                    left: 0;
                    top: 2px;
                    position: absolute;
                    color: var(--primaryColor);
                }
                a {
                    color: var(--paragraphColor);

                    &:hover {
                        color: var(--primaryColor);
                    }
                }
            }
        }
    }
    p {
        a {
            color: var(--primaryColor);

            &:hover {
                color: var(--secondaryColor);
            }
        }
        strong {
            color: var(--blackColor);
        }
    }
    ul, ol {
        margin: {
            top: 20px;
            bottom: 20px;
        };
        li {
            color: var(--paragraphColor);
            margin-bottom: 15px;
            
            a {
                color: var(--primaryColor);

                &:hover {
                    color: var(--secondaryColor);
                }
            }
            strong {
                color: var(--blackColor);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .post-footer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
        padding-top: 25px;
        align-items: center;
        border-top: 1px solid #eeeeee;
    
        .article-share {
            width: 50%;
            flex: 0 0 auto;
            
            .social {
                padding-left: 0;
                list-style-type: none;
                margin: {
                    bottom: 0;
                    top: 0;
                };
                li {
                    margin-bottom: 0;
                    display: inline-block;
                    color: var(--blackColor);

                    span {
                        display: inline-block;
                        position: relative;
                        margin-right: 3px;
                        font-weight: 600;
                        top: -2px;
                    }
                    a {
                        width: 35px;
                        height: 35px;
                        display: block;
                        font-size: 15px;
                        margin-left: 4px;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 50%;
                        color: var(--whiteColor);
                        background-color: var(--primaryColor);
                        border: 1px solid var(--primaryColor);
        
                        &:hover {
                            color: var(--primaryColor);
                            background-color: transparent;
                        }
                        &.facebook {
                            background-color: #3b5998;
                            color: var(--whiteColor);
                            border-color: #3b5998;

                            &:hover {
                                color: #3b5998;
                                background-color: transparent;
                            }
                        }
                        &.twitter {
                            background-color: #1da1f2;
                            color: var(--whiteColor);
                            border-color: #1da1f2;

                            &:hover {
                                color: #1da1f2;
                                background-color: transparent;
                            }
                        }
                        &.linkedin {
                            background-color: #007bb5;
                            color: var(--whiteColor);
                            border-color: #007bb5;

                            &:hover {
                                color: #007bb5;
                                background-color: transparent;
                            }
                        }
                        &.instagram {
                            background-color: #c13584;
                            color: var(--whiteColor);
                            border-color: #c13584;

                            &:hover {
                                color: #c13584;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
        .post-tags {
            width: 50%;
            flex: 0 0 auto;
            text-align: end;

            .sub {
                text-transform: uppercase;
                display: inline-block;
                font-weight: 600;
            }
            ul {
                display: inline-block;
                list-style-type: none;
                padding-left: 0;
                margin: {
                    top: 0;
                    bottom: 0;
                };
                li {
                    display: inline-block;
                    margin: {
                        bottom: 0;
                        right: 2px;
                    };
                    a {
                        font-weight: 500;
                        color: var(--paragraphColor);
    
                        &:hover {
                            color: var(--primaryColor);
                        }
                    }
                    &:not(:last-child)::after {
                        content: ',';
                    }
                }
            }
        }
    }
}
blockquote, .blockquote {
    padding: 40px !important;
    background-color: #f9f9f9;
    border-left: 3px solid var(--primaryColor);
    margin: {
        bottom: 25px;
        top: 25px;
    };
    p {
        line-height: 1.7;
        margin-bottom: 0;
        color: var(--blackColor);
        font: {
            weight: 600;
            style: italic;
            size: 18px !important;
            family: var(--headingFontFamily);
        };
    }
    cite {
        display: block;
        margin-top: 18px;
        font-weight: 600;
        color: var(--blackColor);
    }
}
.comments-area {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #eeeeee;

    .comments-title {
        font-size: 20px;
        margin-bottom: 25px;
        line-height: initial;
    }
    ol, ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .comment-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .children {
        margin-left: 20px;
    }
    .comment-body {
        border-bottom: 1px dashed #eeeeee;
        color: var(--blackColor);
        padding-bottom: 20px;
        margin-bottom: 20px;
        padding-left: 98px;
        position: relative;

        .reply {
            a {
                border: 1px dashed #eeeeee;
                color: var(--paragraphColor);
                display: inline-block;
                padding: 3px 15px 5px;
                border-radius: 30px;
                margin-top: 12px;
                font: {
                    size: 14px;
                    weight: 600;
                };
                &:hover {
                    color: var(--whiteColor);
                    border-color: var(--primaryColor);
                    background-color: var(--primaryColor);
                }
            }
        }
    }
    .comment-author {
        z-index: 2;
        font-size: 17px;
        margin-bottom: 6px;
        position: relative;
        
        .avatar {
            top: 4px;
            width: 80px;
            left: -98px;
            position: absolute;
        }
        .says {
            display: none;
        }
        .fn {
            font-weight: 600;
        }
    }
    .comment-respond {
        margin-top: 30px;

        .comment-reply-title {
            margin-bottom: 0;
            font-size: 20px;

            #cancel-comment-reply-link {
                display: inline-block;
            }
        }
        .comment-notes {
            font-style: italic;
            margin: {
                bottom: 20px;
                top: 10px;
            };
            .required {
                color: red;
            }
        }
        .form-group {
            margin-bottom: 25px;
    
            label {
                display: block;
                margin-bottom: 10px;
                font: {
                    size: 15px;
                    weight: 500;
                };
            }
            .form-control {
                background-color: #f9f9f9;
                font-size: var(--fontSize);
                color: var(--blackColor);
                box-shadow: unset;
                border-radius: 0;
                height: 55px;
                width: 100%;
                border: 0;
                padding: {
                    left: 18px;
                    right: 18px;
                };
                &::placeholder {
                    color: var(--paragraphColor);
                    transition: var(--transition);
                }
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
            textarea.form-control {
                height: auto !important;
                padding-top: 18px;
            }
        }
        .form-check {
            color: var(--paragraphColor);
            margin: {
                top: 5px;
                bottom: 25px;
            };
            .form-check-input {
                cursor: pointer;
                border-radius: 0;
                box-shadow: unset;
                margin-top: 0.20em;
                border-color: #9C9C9C;
                background-color: transparent;

                &:checked {
                    background-color: var(--primaryColor);
                    border-color: var(--primaryColor);
                }
            }
            .form-check-label {
                cursor: pointer;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .blog-details-desc {
        .post-thumb {
            margin-bottom: 20px;
        }
        .post-meta {
            margin: {
                top: 15px;
                bottom: 13px;
            };
            ul {
                li {
                    margin-right: 15px;
                    padding-left: 23px;
                    font-size: 14px;
                }
            }
        }
        h1 {
            font-size: 23px;
        }
        h2 {
            font-size: 21px;
        }
        h3 {
            font-size: 19px;
        }
        h4 {
            font-size: 17px;
        }
        h5 {
            font-size: 15px;
        }
        h6 {
            font-size: 13px;
        }
        .post-footer {
            .article-share {
                width: 100%;
            }
            .post-tags {
                width: 100%;
                margin-top: 18px;
                text-align: start;
            }
        }
    }
    .comments-area {
        .comments-title {
            font-size: 17px;
            margin-bottom: 20px;
        }
        .comment-body {
            padding-bottom: 15px;
            margin-bottom: 15px;
            padding-left: 0;
        }
        .comment-author {
            font-size: 16px;
            margin-bottom: 5px;

            .avatar {
                top: 0;
                left: 0;
                width: 80px;
                display: block;
                position: relative;
                margin-bottom: 12px;
            }
        }
        .comment-respond {
            .comment-reply-title {
                font-size: 17px;
            }
            .form-group {
                margin-bottom: 20px;

                .form-control {
                    font-size: 14px;
                    height: 50px;
                    padding: {
                        left: 15px;
                        right: 15px;
                    };
                }
            }
            .form-check {
                .form-check-input {
                    margin-top: 0.32em;
                }
            }
        }
    }
    blockquote, .blockquote {
        padding: 20px !important;
        border-left-width: 2px;

        p {
            font-size: 14px !important;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}