<div class="coming-soon-area ptb-100">
    <div class="container">
        <div class="coming-soon-content">
            <a routerLink="/" class="logo">
                <img src="assets/img/logo.png" alt="image">
            </a>
            <h2>We Are Launching Soon</h2>
            <ul class="coming-soon-countdown flex-wrap d-flex">
                <li class="align-items-center flex-column d-flex justify-content-center">
                    <span class="days">{{days}}</span>
                    Days
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    <span class="hours">{{hours}}</span>
                    Hours
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    <span class="minutes">{{minutes}}</span>
                    Mins
                </li>
                <li class="align-items-center flex-column d-flex justify-content-center">
                    <span class="seconds">{{seconds}}</span>
                    Secs
                </li>
            </ul>
            <form class="newsletter-form">
                <div class="d-flex align-items-center justify-content-between">
                    <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL" required autocomplete="off">
                    <button type="submit" class="default-btn">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>