<div class="banner-main-area">
    <div class="banner-slides">
        <owl-carousel-o [options]="bannerSlides">
            <ng-template carouselSlide>
                <div class="banner-area">
                    <div class="bg-image bg1"></div>
                    <div class="container-fluid">
                        <div class="banner-content">
                            <span class="sub-title">HEALTHCARE IS WEALTH</span>
                            <h1>Dentistry dedicated to excellence</h1>
                            <p>These types of caregivers are trained professionals who are qualified and have the experience, in helping patients to complete their recovery process.</p>
                            <a routerLink="/book-appointment" class="default-btn">Book an Appointment</a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="banner-area">
                    <div class="bg-image bg2"></div>
                    <div class="container-fluid">
                        <div class="banner-content">
                            <span class="sub-title">5-STAR CARE</span>
                            <h1>Your best care begins at Mevic</h1>
                            <p>These types of caregivers are trained professionals who are qualified and have the experience, in helping patients to complete their recovery process.</p>
                            <a routerLink="/book-appointment" class="default-btn">Book an Appointment</a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="banner-area">
                    <div class="bg-image bg3"></div>
                    <div class="container-fluid">
                        <div class="banner-content">
                            <span class="sub-title">HEALTH FOR LIFE</span>
                            <h1>Helping people lead healthy lives</h1>
                            <p>These types of caregivers are trained professionals who are qualified and have the experience, in helping patients to complete their recovery process.</p>
                            <a routerLink="/book-appointment" class="default-btn">Book an Appointment</a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="banner-area">
                    <div class="bg-image bg4"></div>
                    <div class="container-fluid">
                        <div class="banner-content">
                            <span class="sub-title">CHANGING LIVES</span>
                            <h1>Health is the first step to prosperity</h1>
                            <p>These types of caregivers are trained professionals who are qualified and have the experience, in helping patients to complete their recovery process.</p>
                            <a routerLink="/book-appointment" class="default-btn">Book an Appointment</a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="banner-area">
                    <div class="bg-image bg5"></div>
                    <div class="container-fluid">
                        <div class="banner-content">
                            <span class="sub-title">FEEL BETTER</span>
                            <h1>Get your COVID-19 booster in Mevic</h1>
                            <p>These types of caregivers are trained professionals who are qualified and have the experience, in helping patients to complete their recovery process.</p>
                            <a routerLink="/book-appointment" class="default-btn">Book an Appointment</a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="banner-owl-thumbs animate__animated animate__fadeInUp">
        <div class="owl-thumbs">
            <div class="owl-thumb-item">
                <div class="item">
                    <span>Dentistry</span>
                </div>
            </div>
            <div class="owl-thumb-item">
                <div class="item">
                    <span>Plastic Surgery</span>
                </div>
            </div>
            <div class="owl-thumb-item">
                <div class="item">
                    <span>Cardiology</span>
                </div>
            </div>
            <div class="owl-thumb-item">
                <div class="item">
                    <span>Neurology</span>
                </div>
            </div>
            <div class="owl-thumb-item">
                <div class="item">
                    <span>Covid-19</span>
                </div>
            </div>
        </div>
    </div>
</div>