<div class="subscribe-area">
    <div class="container">
        <div class="subscribe-inner extra-mb">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="image">
                        <img src="assets/img/subscribe.png" alt="subscribe-image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="content">
                        <span class="sub-title">SUBSCRIBE TO OUR NEWSLETTER</span>
                        <h2>The latest resources, sent to your inbox weekly</h2>
                        <form class="newsletter-form">
                            <div class="d-flex align-items-center justify-content-between">
                                <input type="text" class="input-newsletter" placeholder="Enter your email address" name="EMAIL" required autocomplete="off">
                                <button type="submit" class="default-btn">
                                    Subscribe Now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>