<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Services
                </li>
            </ul>
            <h1>Our Services</h1>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape5.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>

<!-- Services Area -->
<div class="services-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">POPULAR SERVICES</span>
            <h2>Give us a chance to prove that we care</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-virus"></i>
                    </div>
                    <h3><a routerLink="/services-details">COVID-19</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-scalpel"></i>
                    </div>
                    <h3><a routerLink="/services-details">Dermatology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-cirrhosis"></i>
                    </div>
                    <h3><a routerLink="/services-details">Hepatology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-tooth"></i>
                    </div>
                    <h3><a routerLink="/services-details">Dentistry</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-kidneys"></i>
                    </div>
                    <h3><a routerLink="/services-details">Urology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-heartbeat"></i>
                    </div>
                    <h3><a routerLink="/services-details">Cardiology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-services></app-services>

<div class="pb-100"></div>