<!-- Page Title Area -->
<div class="page-title-area style-two">
    <div class="container">
        <div class="page-title-content">
            <h6>Emergency Support</h6>
            <a href="tel:+1-485-456-0102" class="d-flex align-items-center">
                <i class="flaticon-call"></i>
                +1-485-456-0102
            </a>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape7.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape8.png" alt="shape">
    </div>
</div>

<!-- Doctor Profile Area -->
<div class="doctor-profile-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="profile-description">
                    <ul class="nav-tabset">
                        <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab1'}">
                            <span (click)="switchTab($event, 'tab1')">
                                Overview
                            </span>
                        </li>
                        <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab2'}">
                            <span (click)="switchTab($event, 'tab2')">
                                Qualification
                            </span>
                        </li>
                        <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab3'}">
                            <span (click)="switchTab($event, 'tab3')">
                                Insurance
                            </span>
                        </li>
                        <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab4'}">
                            <span (click)="switchTab($event, 'tab4')">
                                Reviews
                            </span>
                        </li>
                    </ul>
                    <div class="tabs-container">
                        <div class="pane" id="tab1" *ngIf="currentTab === 'tab1'">
                            <h3>About Dr. Alina Smith</h3>
                            <p>CRNP, specializes in neurology and is certified by the American Academy of Nurse Practitioners. She practices at University of Pittsburgh <strong>Physicians</strong>, Department of Neurology and is affiliated with UPMC Magee-Womens Hospital. She completed her masters of science in nursing at Carlow University.</p>
                            <ul class="expertise">
                                <li>Family Medicine</li>
                                <li>Castle Connolly Top Doctor - 5 Years</li>
                                <li>Featured in Atlanta Magazine</li>
                                <li>Multi Board-Certified Doctor</li>
                            </ul>
                            <h3>Qualifications</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered <a routerLink="/">alteration</a> in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden.</p>
                            <ul>
                                <li>University of Maryland at Baltimore, School of Medicine</li>
                                <li>Indiana University School of Medicine, 1968</li>
                                <li>Mass Genl Hosp, Diagnostic Radiology, 1971 - 1974 </li>
                            </ul>
                            <h3>Insurance</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden.</p>
                            <ul>
                                <li>Aetna - Summit Healthcare - AZ</li>
                                <li>Aetna - Banner Choice POS II Multi Tier - POS</li>
                                <li>Aetna - Freeman Preferred - Choice POS II - POS</li>
                                <li>UnitedHealthcare - Navigate / Navigate Balanced</li>
                                <li>UnitedHealthcare - Navigate Plus</li>
                                <li>UnitedHealthcare - NexusACO RP</li>
                            </ul>
                        </div>
                        <div class="pane" id="tab2" *ngIf="currentTab === 'tab2'">
                            <h3>Qualifications</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered <a routerLink="/">alteration</a> in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden.</p>
                            <ul>
                                <li>University of Maryland at Baltimore, School of Medicine</li>
                                <li>Indiana University School of Medicine, 1968</li>
                                <li>Mass Genl Hosp, Diagnostic Radiology, 1971 - 1974 </li>
                            </ul>
                        </div>
                        <div class="pane" id="tab3" *ngIf="currentTab === 'tab3'">
                            <h3>Insurance</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden.</p>
                            <ul>
                                <li>Aetna - Summit Healthcare - AZ</li>
                                <li>Aetna - Banner Choice POS II Multi Tier - POS</li>
                                <li>Aetna - Freeman Preferred - Choice POS II - POS</li>
                                <li>UnitedHealthcare - Navigate / Navigate Balanced</li>
                                <li>UnitedHealthcare - Navigate Plus</li>
                                <li>UnitedHealthcare - NexusACO RP</li>
                            </ul>
                        </div>
                        <div class="pane" id="tab4" *ngIf="currentTab === 'tab4'">
                            <div class="review-comments">
                                <div class="user-review">
                                    <img src="assets/img/user/user1.jpg" alt="image">
                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                        </div>
                                    </div>
                                    <span class="d-block sub-name">James Anderson</span>
                                    <p>Very well built theme, couldn't be happier with it. Can't wait for future updates to see what else they add in.</p>
                                </div>
                                <div class="user-review">
                                    <img src="assets/img/user/user2.jpg" alt="image">
                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                        </div>
                                    </div>
                                    <span class="d-block sub-name">Sarah Taylor</span>
                                    <p>Santiago who travels from his homeland in Spain to the Egyptian desert in search of a treasure buried near the Pyramids. Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipiscing elitet.</p>
                                </div>
                                <div class="user-review">
                                    <img src="assets/img/user/user3.jpg" alt="image">
                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2'></i>
                                            <i class='flaticon-star-2'></i>
                                        </div>
                                    </div>
                                    <span class="d-block sub-name">David Warner</span>
                                    <p>Stunning design, very dedicated crew who welcome new ideas suggested by customers, nice support.</p>
                                </div>
                                <div class="user-review">
                                    <img src="assets/img/user/user4.jpg" alt="image">
                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2 checked'></i>
                                            <i class='flaticon-star-2'></i>
                                        </div>
                                    </div>
                                    <span class="d-block sub-name">King Kong</span>
                                    <p>Stunning design, very dedicated crew who welcome new ideas suggested by customers, nice support.</p>
                                </div>
                            </div>
                            <div class="review-form">
                                <h3>Add a review</h3>
                                <p class="comment-notes">Your email address will not be published. Required fields are marked <span>*</span></p>
                                <form>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="rating">
                                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Name *">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email *">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <textarea placeholder="Your review" class="form-control" cols="30" rows="6"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="checkme">
                                                <label class="form-check-label" for="checkme">
                                                    Save my name, email, and website in this browser for the next time I comment.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <button type="submit" class="default-btn">Submit Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="profile-sidebar">
                    <div class="single-doctor-box">
                        <div class="image">
                            <img src="assets/img/doctors/doctor1.jpg" alt="doctor-image">
                            <div class="icon">
                                <i class="flaticon-stethoscope"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Dr. Alina Smith</h3>
                            <span class="designation">NEUROLOGIST</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                            <span class="status">Accepting New Patients</span>
                            <div class="rating d-flex align-items-center">
                                <div class="star">
                                    <i class="flaticon-star-2 checked"></i>
                                    <i class="flaticon-star-2 checked"></i>
                                    <i class="flaticon-star-2 checked"></i>
                                    <i class="flaticon-star-2 checked"></i>
                                    <i class="flaticon-star"></i>
                                </div>
                                <span>4 Out Of 5</span>
                                <span>(22 Ratings)</span>
                            </div>
                            <a routerLink="/book-appointment" class="default-btn style-two">
                                <i class="flaticon-calendar-1"></i>
                                Book an Appointment
                            </a>
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Doctors Area -->
<div class="doctors-area pb-75">
    <div class="container">
        <h4 class="title">Other Doctors in this Speciality</h4>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor9.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-stethoscope"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. Alexa Nicole</a></h3>
                        <span class="designation">NEUROLOGIST</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor2.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-stethoscope"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. James Anderson</a></h3>
                        <span class="designation">NEUROLOGIST</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor3.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-stethoscope"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. Meg Lanning</a></h3>
                        <span class="designation">NEUROLOGIST</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor5.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-stethoscope"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. Aaron Luca</a></h3>
                        <span class="designation">NEUROLOGIST</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor6.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-stethoscope"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. Jaxson Parker</a></h3>
                        <span class="designation">NEUROLOGIST</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-doctor-box">
                    <div class="image">
                        <img src="assets/img/doctors/doctor7.jpg" alt="doctor-image">
                        <div class="icon">
                            <i class="flaticon-stethoscope"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/doctor-profile">Dr. Claire Hailey</a></h3>
                        <span class="designation">NEUROLOGIST</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <ul class="social">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="flaticon-facebook-app-symbol"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <a routerLink="/doctor-profile" class="link-btn">View Profile <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>