<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Forgot Password
                </li>
            </ul>
            <h1>Forgot Password</h1>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape5.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>

<!-- Forgot Password Area -->
<div class="forgot-password-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="forgot-password-form">
                    <h2>Reset Password</h2>
                    <p>Please enter your username or email address. You will receive a link to create a new password via email. Didn't have an account? <a routerLink="/register">Register now!</a></p>
                    <form>
                        <label>Username or email</label>
                        <input type="text" class="form-control">
                        <button type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="forgot-password-image">
                    <img src="assets/img/login.png" alt="login-image">
                </div>
            </div>
        </div>
    </div>
</div>