<!-- Default Services Section -->
<div
    class="services-area pt-100 pb-75 bg-d9eff9"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/services-2'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">POPULAR SERVICES</span>
            <h2>Give us a chance to prove that we care</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-virus"></i>
                    </div>
                    <h3><a routerLink="/services-details">COVID-19</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-virus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box active">
                    <div class="icon">
                        <i class="flaticon-scalpel"></i>
                    </div>
                    <h3><a routerLink="/services-details">Dermatology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-scalpel"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-cirrhosis"></i>
                    </div>
                    <h3><a routerLink="/services-details">Hepatology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-cirrhosis"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-tooth"></i>
                    </div>
                    <h3><a routerLink="/services-details">Dentistry</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-tooth"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-kidneys"></i>
                    </div>
                    <h3><a routerLink="/services-details">Urology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-kidneys"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-heartbeat"></i>
                    </div>
                    <h3><a routerLink="/services-details">Cardiology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-heartbeat"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Section For Home Demo - 2 -->
<div
    class="services-area pt-100 pb-75 bg-d9eff9 d-none"
    [ngClass]="{'d-block': router.url === '/index-2'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">POPULAR SERVICES</span>
            <h2>Give us a chance to prove that we care</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-virus"></i>
                    </div>
                    <h3><a routerLink="/services-details">COVID-19</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-scalpel"></i>
                    </div>
                    <h3><a routerLink="/services-details">Dermatology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-cirrhosis"></i>
                    </div>
                    <h3><a routerLink="/services-details">Hepatology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-tooth"></i>
                    </div>
                    <h3><a routerLink="/services-details">Dentistry</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-kidneys"></i>
                    </div>
                    <h3><a routerLink="/services-details">Urology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-box">
                    <div class="icon">
                        <i class="flaticon-heartbeat"></i>
                    </div>
                    <h3><a routerLink="/services-details">Cardiology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Section For Home Demo - 3 -->
<div
    class="services-area ptb-100 bg-d9eff9 d-none"
    [ngClass]="{'d-block': router.url === '/index-3' || router.url === '/services-2'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">POPULAR SERVICES</span>
            <h2>Give us a chance to prove that we care</h2>
        </div>
        <div class="services-tabs">
            <ul class="nav-tabset">
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab1'}">
                    <span (click)="switchTab($event, 'tab1')">
                        COVID-19
                    </span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab2'}">
                    <span (click)="switchTab($event, 'tab2')">
                        Hepatology
                    </span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab3'}">
                    <span (click)="switchTab($event, 'tab3')">
                        Dermatology
                    </span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab4'}">
                    <span (click)="switchTab($event, 'tab4')">
                        Dentistry
                    </span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab5'}">
                    <span (click)="switchTab($event, 'tab5')">
                        Urology
                    </span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab6'}">
                    <span (click)="switchTab($event, 'tab6')">
                        Cardiology
                    </span>
                </li>
            </ul>
            <div class="tabs-container">
                <div class="pane" id="tab1" *ngIf="currentTab === 'tab1'">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">COVID-19</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Fever</li>
                                    <li>Cough</li>
                                    <li>Tiredness</li>
                                    <li>Loss of taste or smell</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-virus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services6.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pane" id="tab2" *ngIf="currentTab === 'tab2'">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Hepatology</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Raised bumps that are red or white</li>
                                    <li>A rash, which might be painful or itchy</li>
                                    <li>Scaly or rough skin</li>
                                    <li>Peeling skin</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-scalpel"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services7.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pane" id="tab3" *ngIf="currentTab === 'tab3'">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Dermatology</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Skin and eyes that appear yellowish (jaundice)</li>
                                    <li>Abdominal pain and swelling</li>
                                    <li>Swelling in the legs and ankles</li>
                                    <li>Itchy skin</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-cirrhosis"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services4.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pane" id="tab4" *ngIf="currentTab === 'tab4'">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Dentistry</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Sensitive teeth</li>
                                    <li>Bleeding or sore gums</li>
                                    <li>Bad breath</li>
                                    <li>Dry mouth</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-tooth"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services8.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pane" id="tab5" *ngIf="currentTab === 'tab5'">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Urology</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Blood in the urine</li>
                                    <li>Pain when you urinate</li>
                                    <li>Changes in urinary pattern</li>
                                    <li>Frequent need to urinate</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-kidneys"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services9.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pane" id="tab6" *ngIf="currentTab === 'tab6'">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3><a routerLink="/services-details">Cardiology</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                                <p><strong>Usual Symptoms:</strong></p>
                                <ul>
                                    <li>Fluttering in your chest</li>
                                    <li>Racing heartbeat</li>
                                    <li>Slow heartbeat</li>
                                    <li>Chest pain or discomfort</li>
                                </ul>
                                <a routerLink="/services-details" class="default-btn">Read More</a>
                                <div class="icon">
                                    <i class="flaticon-heartbeat"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="image">
                                <img src="assets/img/services/services5.jpg" alt="services-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>