<div class="main-banner-slides">
    <owl-carousel-o [options]="mainBannerSlides">
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg1"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">HEALTHCARE IS WEALTH</span>
                        <h1>Health is the first step to prosperity</h1>
                        <p>These types of caregivers are trained professionals who are qualified and have the experience, in helping patients to complete their recovery process.</p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Doctor</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg2"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">5-STAR CARE</span>
                        <h1>Your best care begins at Mevic</h1>
                        <p>These types of caregivers are trained professionals who are qualified and have the experience, in helping patients to complete their recovery process.</p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Doctor</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg3"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">HEALTH FOR LIFE</span>
                        <h1>Get your COVID-19 booster in Mevic</h1>
                        <p>These types of caregivers are trained professionals who are qualified and have the experience, in helping patients to complete their recovery process.</p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Doctor</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>