<!-- Default Emergency Support Section -->
<div
    class="emergency-support-area bg-d9eff9"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="container">
        <div class="emergency-support-inner">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="box">
                        <h6>Emergency Support</h6>
                        <a href="tel:+1-485-456-0102" class="d-flex align-items-center">
                            <i class="flaticon-call"></i>
                            +1-485-456-0102
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="box">
                        <h6>Book an Appointment</h6>
                        <a routerLink="book-appointment" class="d-flex align-items-center">
                            <i class="flaticon-calendar"></i>
                            Book Here
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Emergency Support Section for Home Demo - 2 & 3 -->
<div
    class="emergency-support-area ptb-75 bg-main-color d-none"
    [ngClass]="{'d-block': router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="container">
        <div class="emergency-support-inner style-two">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="box">
                        <h6>Emergency Support</h6>
                        <a href="tel:+1-485-456-0102" class="d-flex align-items-center">
                            <i class="flaticon-call"></i>
                            +1-485-456-0102
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="box">
                        <h6>Book an Appointment</h6>
                        <a routerLink="/book-appointment" class="d-flex align-items-center">
                            <i class="flaticon-calendar"></i>
                            Book Here
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="shape3"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape4"></div>
</div>