<div class="banner-wrapper-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="banner-wrapper-content">
                    <span class="sub-title">HEALTHCARE IS WEALTH</span>
                    <h1>Helping people lead healthy & happy lives</h1>
                    <p>These types of caregivers are trained professionals who are qualified and have the experience, in helping patients to complete their recovery process.</p>
                    <a routerLink="/doctors" class="default-btn">Find A Doctor</a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="banner-wrapper-image">
                    <img src="assets/img/banner/banner-img.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
</div>