<div class="popular-slider-group">
    <div class="rental-deal-slider">
        <owl-carousel-o [options]="recommendedCarOptions" >
            <ng-container *ngFor="let data of sliderModel">
              <ng-template carouselSlide>
        <div class="rental-car-item">
            <div class="listing-item mb-0">										
                <div class="listing-img">
                    <a routerLink="{{data.link}}">
                        <img img [src]="path+'/WebImages/Announcements/'+data.image" alt="Image">
                    </a>
                </div>									
            </div>
        </div>
    </ng-template>
</ng-container>
</owl-carousel-o>
    </div>	
</div> 