<div class="search-area animate__animated animate__fadeInUp">
    <div class="container">
        <div class="search-inner">
            <form>
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="form-group">
                            <label><i class="flaticon-search-interface-symbol"></i></label>
                            <input type="text" class="form-control" placeholder="Search Doctor, Healthcare">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="form-group">
                            <label><i class="flaticon-map-location"></i></label>
                            <input type="text" class="form-control" placeholder="Search by location">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <button type="submit" class="default-btn">Search Now</button>
                    </div>
                </div>
                <div class="popular-searches">
                    <h5>You are maybe looking for</h5>
                    <ul>
                        <li>
                            <a routerLink="/services-details">
                                Telehealth
                            </a>
                            <span><i class="ph-x"></i></span>
                        </li>
                        <li>
                            <a routerLink="/services-details">
                                COVID-19
                            </a>
                            <span><i class="ph-x"></i></span>
                        </li>
                        <li>
                            <a routerLink="/services-details">
                                Dental Care
                            </a>
                            <span><i class="ph-x"></i></span>
                        </li>
                        <li>
                            <a routerLink="/services-details">
                                Top Hospital
                            </a>
                            <span><i class="ph-x"></i></span>
                        </li>
                        <li>
                            <a routerLink="/services-details">
                                Skin Care
                            </a>
                            <span><i class="ph-x"></i></span>
                        </li>
                        <li>
                            <a routerLink="/services-details">
                                Eye Treatment
                            </a>
                            <span><i class="ph-x"></i></span>
                        </li>
                        <li>
                            <a routerLink="/services-details">
                                Orthopadic Surgery
                            </a>
                            <span><i class="ph-x"></i></span>
                        </li>
                    </ul>
                    <a routerLink="/services-1" class="link-btn">See More <i class="ph-caret-right"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>