<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Services
                </li>
            </ul>
            <h1>Our Services</h1>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape5.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>

<!-- Services Area -->
<div class="services-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">SERVICES AREA</span>
            <h2>Caring for the whole patient, not just your symptoms</h2>
        </div>
        <div class="services-slides">
            <owl-carousel-o [options]="servicesSlides">
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services1.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-cosmetic-surgery"></i>
                            </div>
                            <h3><a routerLink="/services-details">Plastic Surgery</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services2.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-fracture"></i>
                            </div>
                            <h3><a routerLink="/services-details">Orthopedic</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services3.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-cosmetic-surgery"></i>
                            </div>
                            <h3><a routerLink="/services-details">Neurology</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services4.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-scalpel"></i>
                            </div>
                            <h3><a routerLink="/services-details">Dermatology</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src="assets/img/services/services5.jpg" alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-heartbeat"></i>
                            </div>
                            <h3><a routerLink="/services-details">Cardiology</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Services Area -->
<div class="services-area pt-100 pb-75 bg-d9eff9">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">POPULAR SERVICES</span>
            <h2>Give us a chance to prove that we care</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-virus"></i>
                    </div>
                    <h3><a routerLink="/services-details">COVID-19</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-virus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box active">
                    <div class="icon">
                        <i class="flaticon-scalpel"></i>
                    </div>
                    <h3><a routerLink="/services-details">Dermatology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-scalpel"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-cirrhosis"></i>
                    </div>
                    <h3><a routerLink="/services-details">Hepatology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-cirrhosis"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-tooth"></i>
                    </div>
                    <h3><a routerLink="/services-details">Dentistry</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-tooth"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-kidneys"></i>
                    </div>
                    <h3><a routerLink="/services-details">Urology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-kidneys"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-heartbeat"></i>
                    </div>
                    <h3><a routerLink="/services-details">Cardiology</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim malesuada lectus eget orci, ante sit sed diam. Tincidunt mattis aenean.</p>
                    <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                    <div class="back-icon">
                        <i class="flaticon-heartbeat"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pb-100"></div>