<div
    class="top-header-area"
    [ngClass]="{'bg-color': router.url === '/index-2'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-6 col-md-12">
                <ul class="top-header-contact-info">
                    <li>
                        <i class="flaticon-map-location"></i>
                        2750 Quadra Street Victoria Road, New York, Canada
                    </li>
                    <li>
                        <i class="flaticon-time-left"></i>
                        Monday - Friday 08:00-19:00
                    </li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <ul class="top-header-right-side">
                    <li>
                        <i class="flaticon-call"></i>
                        <a href="tel:+1-485-456-0102">+1-485-456-0102</a>
                    </li>
                    <li>
                        <ul class="social">
                            <li>
                                <a href="https://facebook.com/" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank"><i class="flaticon-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank"><i class="flaticon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>