<div class="why-choose-us-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-content">
                    <span class="sub-title">WHY CHOOSE US</span>
                    <h2>We different from others should choose us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam ut orci sit at viverra ut dui interdum. Faucibus faucibus orci id placerat eleifend.</p>
                    <ul class="list">
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                Intensive Care
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                Specialised Support
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                Medical & Surgical
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                Generics Strategies
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                Modern Technology
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                Qualified Doctors
                            </span>
                        </li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam ut orci sit at viverra ut dui interdum. Faucibus faucibus orci id placerat eleifend.</p>
                    <a routerLink="/book-appointment" class="default-btn style-two">
                        <i class="flaticon-calendar-1"></i>
                        Request an Appointment
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-image">
                    <img src="assets/img/patient-with-smile.jpg" alt="why-choose-us-image">
                </div>
            </div>
        </div>
    </div>
</div>