<div class="testimonials-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="testimonials-image">
                    <img src="assets/img/woman-with-smile.jpg" alt="testimonials-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="testimonials-content">
                    <div class="section-title">
                        <span class="sub-title">TESTIMONIALS</span>
                        <h2>Satisfied patients reviews</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam ut orci sit at viverra ut dui interdum. Faucibus faucibus orci id placerat eleifend.</p>
                    </div>
                    <div class="testimonials-slides">
                        <owl-carousel-o [options]="testimonialsSlides">
                            <ng-template carouselSlide>
                                <div class="single-testimonial-item">
                                    <i class="flaticon-left-quote"></i>
                                    <p>I didn’t think this would be a pleasant experience, but she put me at ease. I told her I’m not a big fan of the dentist, and she totally understood. The thing I liked best was that she immediately relieved my pain. She was really understanding and quick to respond.</p>
                                    <div class="client-info d-flex align-items-center">
                                        <img src="assets/img/user/user1.jpg" alt="user">
                                        <div class="title">
                                            <h3>Steven Smith</h3>
                                            <span>Heart Patient</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="single-testimonial-item">
                                    <i class="flaticon-left-quote"></i>
                                    <p>I didn’t think this would be a pleasant experience, but she put me at ease. I told her I’m not a big fan of the dentist, and she totally understood. The thing I liked best was that she immediately relieved my pain. She was really understanding and quick to respond.</p>
                                    <div class="client-info d-flex align-items-center">
                                        <img src="assets/img/user/user2.jpg" alt="user">
                                        <div class="title">
                                            <h3>Jasika Morn</h3>
                                            <span>Skincare Patient</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="single-testimonial-item">
                                    <i class="flaticon-left-quote"></i>
                                    <p>I didn’t think this would be a pleasant experience, but she put me at ease. I told her I’m not a big fan of the dentist, and she totally understood. The thing I liked best was that she immediately relieved my pain. She was really understanding and quick to respond.</p>
                                    <div class="client-info d-flex align-items-center">
                                        <img src="assets/img/user/user3.jpg" alt="user">
                                        <div class="title">
                                            <h3>James Taylor</h3>
                                            <span>Patient</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>