<!-- Page Title Area -->
<div class="page-title-area pb-0">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Contact Us
                </li>
            </ul>
            <h1>Contact with Mevic</h1>
        </div>
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>

<!-- Contact Info Area -->
<div class="contact-info-area pb-75 pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-contact-info-box">
                    <div class="icon">
                        <i class="ph-map-pin-line"></i>
                    </div>
                    <h3>Address</h3>
                    <p>The Mevic Hospital 123, 2750 Quadra Street Victoria, Canada.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-contact-info-box">
                    <div class="icon">
                        <i class="ph-phone-call"></i>
                    </div>
                    <h3>Call Us</h3>
                    <p><a href="tel:(+321) 895-980 008">(+321) 895-980 008</a></p>
                    <p><a href="tel:+1-485-456-0102">+1-485-456-0102</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-contact-info-box">
                    <div class="icon">
                        <i class="ph-envelope-simple"></i>
                    </div>
                    <h3>Email Us</h3>
                    <p><a href="mailto:hello@mevic.com">hello@mevic.com</a></p>
                    <p><a href="mailto:info@mevic.com">info@mevic.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape5 wow animate__animated animate__fadeInDown" data-wow-delay=".1s"><img src="assets/img/shape/shape5.png" alt="shape"></div>
</div>

<!-- Maps Area -->
<div class="maps-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9705.3901819124!2d-79.34971443361384!3d43.680828022164036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cdb13b1a925f%3A0x6b2402ee61919d69!2sCinnaholic!5e0!3m2!1sen!2sbd!4v1643711216028!5m2!1sen!2sbd" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="opening-hours-info">
                    <h3>Working Hours</h3>
                    <p>Have an emergency? Book your visit.</p>
                    <ul class="opening-hours">
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Saturday - Sunday</span>
                                <span>08:00AM - 04:00PM</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Monday</span>
                                <span>08:00AM - 04:00PM</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Tuesday</span>
                                <span>08:00AM - 04:00PM</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Wednesday</span>
                                <span>08:00AM - 04:00PM</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Thursday - Friday</span>
                                <span>08:00AM - 04:00PM</span>
                            </div>
                        </li>
                    </ul>
                    <div class="box">
                        <h6>Emergency Support</h6>
                        <a href="tel:+1-485-456-0102" class="d-flex align-items-center">
                            <i class="flaticon-call"></i>
                            +1-485-456-0102
                        </a>
                    </div>
                    <div class="box">
                        <h6>Book an Appointment</h6>
                        <a routerLink="/book-appointment" class="d-flex align-items-center">
                            <i class="flaticon-calendar"></i>
                            Book Here
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Area -->
<div class="contact-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">GET IN TOUCH</span>
            <h2>Have Any Questions? Let's Talk!</h2>
        </div>
        <div class="contact-form">
            <form id="contactForm">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Your Name</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" name="msg_subject" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" name="phone_number" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>Message...</label>
                            <textarea name="message" class="form-control" cols="30" rows="5" required></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkme">
                            <label class="form-check-label" for="checkme">
                                Accept <a routerLink="/terms-conditions">Terms of Services</a> and <a routerLink="/privacy-policy">Privacy Policy</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="submit" class="default-btn">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>